<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Bienvenido a nuestra tienda de chaquetas</title>
</head>
<body>
    <div class="landing-page">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <img src="/img/logooso.png" alt="Logo de la tienda" class="logo">
                    <h1>Bienvenido a nuestra tienda de chaquetas</h1>
                    <p>Descubre las últimas tendencias en moda de chaquetas. Encuentra la chaqueta perfecta para ti.</p>
                    <a href="formularios/login" class="btn btn-primary">Iniciar Sesión</a>
                    <a href="formularios/tipoRegistro" class="btn btn-success">Registrarse</a> <!-- Nuevo botón para registro -->
                </div>
            </div>	
        </div>
    </div>
</body>
</html>
