<!DOCTYPE html>
<html lang="es">

<head>
    <title>Ustore SHOP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/logooso.png">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <link rel="stylesheet" href="assets/css/custom.css">

    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">

</head>

<body>
    

    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <img width="200"  rel="shortcut icon" type="image/x-icon" class="img-fluid align-items-center" src="./assets/img/logooso.png" alt="">

        <div class="container d-flex justify-content-between align-items-center">

            <a  class="text-secondary navbar-brand  logo h1 align-self-center" href="index.html">


                Ustore
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="about.html">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" >Catálogo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" >Contacto</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </nav>
    <!-- Header -->

   
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!--  Banner -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <center> <img class="img-fluid" src="./assets/img/chaquetas.png" alt=""></center>
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <a href="shop.html"></ahref>
                                <img class="img-fluid" src="./assets/img/chaqueta.png" alt="">
                            </a>
                            
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success text-secondary"><b class="text-secondary">Ustore  Shop</b></h1>
                                <h3 class="h2">Se acercan los dias lluviosos?</h3>
                                <p>
                                    APROVECHA! Recuerda que estamos aplicando un descuento del 50% en chaquetas para lluvias 
                                    , 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./assets/img/chaqueta2.png" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="text-secondary h1">El Invierno esta Cerca</h1>
                                <h3 class="h2">Aprovecha este gran descuento</h3>
                                <p>
                                    Tenemos chaquetas para invierno con un descuento del 20% y te regalamos 50% en la segunda unidad
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./assets/img/chaqueta3.png" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="text-secondary h1">Te Gustan los Viajes?</h1>
                                <h3 class="h2">Aprovecha nuestras nuevas unidades.</h3>
                                <p>
                                    Si te gusta mucho andar en motocicleta, Este es un producto especial para ti.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./assets/img/chaquetawomen.png" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">APROVECHA NUESTRAS CHAQUETAS PARA MUJERES</h1>
                                <h3 class="h2">Nuevas unidades por Tiempo limitado</h3>
                                <p>
                                    Echale un vistazo a nuestro nuevo catalogo de chaquetas para mujeres!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- Banner -->


    <!-- -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="text-secondary h1">Variedades en Oferta!</h1>
                    <p>
                        Selecciona uno de nuestros productos y obtendrás un descuento único.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="bg-secondary card h-100">
                        <a href="shop-single.html">
                            <img src="./assets/img/chaqueta4.png" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-dark fa fa-star"></i>
                                    <i class="text-dark fa fa-star"></i>
                                    <i class="text-dark fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="number-red text-muted text-right">$110.000</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Chaqueta clásica</a>
                            <p class="card-text">
                                Diseño clásico con cuero genuino, destaca tu estilo con una chaqueta de cuero.
                            </p>
                            <p class="text-muted">(Más detalles)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="bg-secondary card h-100">
                        <a href="shop-single.html">
                            <img src="./assets/img/chaqueta5.png" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-dark fa fa-star"></i>
                                    <i class="text-dark fa fa-star"></i>
                                    <i class="text-dark fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">$430.000</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Chaqueta para invierno</a>
                            <p class="card-text">
                                Recibe el invierno con estilo y cálidez, esta prenda está especialmente diseñada para mantenerte abrigado.
                            </p>
                            <p class="text-muted">(Más detalles)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="bg-secondary card h-100">
                        <a href="shop-single.html">
                            <img src="./assets/img/chaqueta7.png" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-dark fa fa-star"></i>
                                    <i class="text-dark fa fa-star"></i>
                                    <i class="text-dark fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">$140.000</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Chaqueta de jean</a>
                            <p class="card-text">
                                Nuestra chaqueta de jean es un clásico atemporal que añade un toque de estilo casual a cualquier conjunto.
                            </p>
                            <p class="text-muted">(Más detalles)</p>
                        </div>
                    </div>
                </div>  
                <div class="col-12 col-md-4 mb-4">
                    <div class="bg-secondary card h-100">
                        <a href="shop-single.html">
                            <img src="./assets/img/chaqueta8.png" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-dark fa fa-star"></i>
                                    <i class="text-dark fa fa-star"></i>
                                    <i class="text-dark fa fa-star"></i>
                                    <i class="text-dark fa fa-star"></i>
                                    <i class="text-dark fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">$210.000/li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Chaqueta Personalizada</a>
                            <p class="card-text">
                                Curabitur ac mi sit amet diam luctus porta. Phasellus pulvinar sagittis diam, et scelerisque ipsum lobortis nec.
                            </p>
                            <p class="text-muted">(MÁS)]</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="bg-secondary card h-100">
                        <a href="shop-single.html">
                            <img src="./assets/img/chaquetawomen.png" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-dark fa fa-star"></i>
                                    <i class="text-dark fa fa-star"></i>
                                    <i class="text-dark fa fa-star"></i>
                                    <i class="text-dark fa fa-star"></i>
                                    <i class="text-dark fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">$360.00</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Chaqueta ligera</a>
                            <p class="card-text">
                               
                            </p>
                            <p class="text-muted"></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="bg-secondary card h-100">
                        <a href="shop-single.html">
                            <img src="./assets/img/chaqueta9.png" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-dark fa fa-star"></i>
                                    <i class="text-dark fa fa-star"></i>
                                    <i class="text-dark fa fa-star"></i>
                                    <i class="text-dark fa fa-star"></i>
                                    <i class="text-dark fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">$200.000</li>
                            </ul>
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Chaqueta Dama</a>
                            <p class="card-text">
                                Nuestra chaqueta de mujer es una prenda elegante y versátil que realza la belleza y la confianza de cualquiera.
                            </p>
                            <p class="text-muted">(Mostrar Más detalles)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  -->


    <!-- Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 >Ustore Shop</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            Inicio
                        </li>
                        <li>
                            <a class="text-decoration-none" href="tel:010-020-0340">Acerca de nosotros</a>
                        </li>
                        <li>
                            <a class="text-decoration-none" href="mailto:info@company.com">Catalogo</a>
                        </li>
                        <li>
                            <a class="text-decoration-none" href="mailto:info@company.com">Contacto</a>
                        </li>
                    </ul>
                </div>



                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Informacion</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            Donde Encontrarnos?
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:info@company.com">Astore@shop.com</a>
                        </li>

                    </ul>

                </div>
                <div class="col-md-4 pt-5">

                <img class=" img-fluid" src="./assets/img/logooso.png" alt="">
                </div>
            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="subscribeEmail">Email address</label>

                </div>
            </div>
        </div>


    </footer>
    <!-- Footer -->

    <!--  Script -->
    <script src="assets/js/jquery-1.11.0.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/templatemo.js"></script>
    <script src="assets/js/custom.js"></script>
  
</body>

</html>